*.bak
*.bin
*.cof
*.err
*.hex
*.sta
*.suo
*.sym
*.tmp
*.tre


doc/doxygen/Panel/*
doc/doxygen/Device/*

sources/.vs/*

sources/Device/DebugConfig/*
sources/Device/Listings/*
sources/Device/Objects/*

sources/Panel/DebugConfig/*
sources/Panel/Listings/*
sources/Panel/Objects/*

sources/VS/PanelOSC/Debug/*
sources/VS/PanelOSC/Release/*
sources/VS/PanelOSC/x64/*
sources/VS/FPGA/Debug/*
sources/VS/FPGA/Release/*
sources/VS/FPGA/x64/*

sources/_VS/DeviceOSC/Debug/*
sources/_VS/PanelOSC/Debug/*
